<h1>Listing Notes</h1>

<div class="search">
  <%= form_tag search_notes_path, method: :get, class: "form-inline", role: "search" do %>
    <div class="form-group">
      <%= text_field_tag :keywords, @keywords, class: "form-control" %>
    </div>
    <%= submit_tag "Search", class: "btn btn-default" %>
  <% end %>
</div>

<table class="table table-bordered table-striped">
  <tr>
    <th>Title</th>
    <th colspan="2"></th>
  </tr>
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, note %></td>
      <td><%= link_to 'Edit', edit_note_path(note) %></td>
      <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<div><%= paginate @notes %></div>

<%= link_to 'New Note', new_note_path, class: "btn btn-default btn-lg" %>