<h1>Listing Notes</h1>

<div class="search">
  <%= form_tag(search_notes_path, method: :get) do %>
    <%= text_field_tag(:keywords, @keywords) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

<table>
  <tr>
    <th>Title</th>
  </tr>
  <% @notes.each do |note| %>
    <tr>
      <td><%= link_to note.title, note %></td>
      <td><%= link_to 'Edit', edit_note_path(note) %></td>
      <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'New Note', new_note_path %>