<!DOCTYPE html>
<html>
  <head>
    <title>MyNotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <%= link_to 'MyNotes', root_path, :class => "navbar-brand" %>
          </div>
        </div>
      </div>
      
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
